.products__page{
    width: 100%;
    height: 1417px;
    background: hsl(0, 0%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 344px);
    grid-template-rows: repeat(2, 404px);
    gap: 10px;
    justify-content: center;
    align-content: center;
}