.product__card{
    width: 344px;
    height: 404px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrap{
        width: 80%;
        height: auto;
        margin: 40px 32px;
    }
    &-image{
        width: 144px;
        height: 97px;
    }
    &-title{
        font-size: 24px;
        color:#2D2D2D;
    }
    &-desc-wrap{
        display: flex;
    }
    &-desc-text{
        font-size: 16px;
        color:#2D2D2D;
    }
    &-side-inf-wrap{
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        justify-items: center;
    }
    &-side-ing-arrow{
        width: 40px;
        height: 40px;
        background: url('../../../img/arrow.png');
    }
    &-side-inf-delivery{
        font-size: 14px;
        color:#2D2D2D;
    }
    &-side-inf-delivery-part{
        font-size: 14px;
        color:#2D2D2D;
    }
    &-side-inf-commission{
        font-size: 14px;
        color:#2D2D2D;
    }
    &-side-inf-commission-part{
        font-size: 14px;
        color:#2D2D2D;
    }
}